body{font-family: "Century Gothic","Lucida Grande", "sans-serif";
color: #c05d7e;
width: 940px;
margin-left: auto;
margin-right: auto;
}

.título {background-color: #fdbfd7 ;
    padding: 10px;
    border-radius: 40px;
    font-size: 32px;
    
 }

.subtítulo{border-bottom: 2px solid #fdbfd7;
}

figure{ 
    border-radius: 40px;
    margin: 30px;
    padding: 15px;
text-align: center;
background-color:#bed8ff;
border: #bed8ff;
}

img{
    border-radius: 40px;
     width: 50%;
    margin-left: auto;
    margin-right: auto;
}
figure img{  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.fundadoras {
    width: 500px;
    float: right;
}
.contato__subtítulo {
    display: inline;
}
.contato__info{
    margin: 16px 0 24px;
    padding-left: 32px;
}